<!--<h-form-->
<!--  [config]="config"-->
<!--  (formGroupInit)="formGroupInit($event)"-->
<!--  (modelChange)="modelChange($event)"-->
<!--&gt;</h-form>-->

<!--<h-table [config]="tableConfig"
         [columns]="column"
         (cellClick)="cellClick($event)"
         (pageIndexChange)="pageIndexChange($event)"
         (pageSizeChange)="pageSizeChange($event)"
         (currentPageDataChange)="currentPageDataChange($event)"
></h-table>-->

<!--<button (click)="view()">dianji</button>-->
<router-outlet></router-outlet>
